/node_modules
/public/storage
/storage/*.key
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.env.swp

/public/css/frontend.css
/public/css/frontend.css.map
/public/css/backend.css
/public/css/backend.css.map
/public/css/rtl.css
/public/css/rtl.css.map
/public/js/frontend.js
/public/js/frontend.js.map
/public/js/backend.js
/public/js/backend.js.map

.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant

/public/build/*.*
/public/build/js/*.*
/public/build/css/*.*
/public/build/fonts/*.*
/public/images

public/css/frontmetro.css
public/css/frontmetro.css.map
resources/assets/js/dist/backend.js
resources/assets/js/dist/frontend.js
resources/assets/css/backend/app.css
resources/assets/css/backend/app.css.map
resources/assets/css/frontend/app.css
resources/assets/css/frontend/app.css.map
resources/assets/css/frontmetro/app.css
resources/assets/css/frontmetro/app.css.map
public/css/frontmetrologged.css.map
public/js/frontmetro.js.map
resources/assets/css/frontmetro/applogged.css.map
frontmetro.js
public/css/frontmetrologged.css
public/js/vendor/bootstrap/bootstrap.min.js
resources/assets/css/frontmetro/applogged.css

public/build
